@charset "ISO-8859-1";


body
{
	background-color: black;
	color: white;
}
.container
{
	padding: 4px 5%;
}

.logo{
	font-size: 30px;
}

.container nav p b{
color: orange;	
}

nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

nav ul li
{
	display: inline-block;
	list-style: none;
	margin: 10px 20px;
}

nav ul li a
{
	color: white;
	text-decoration: none;
	font-size: 20px;
	position: relative;
}

nav ul li a::after{
	content: '';
	height: 2px;
	
	background: orange;
	position: absolute;
	left: 0;
	bottom:-6px;
}

nav ul li a:hover::after{
	width: 100%;
}

.header-text{
	margin-top: 20%;
	font-size: 30px;
}

.header-text h1{
	font-size: 60px;
	
}

.header-text h1 span{
	color: orange;
}


/*about page*/

#about{
	padding:80px;
	color: gray;
}
.row{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.about-col-1{
	flex-basis: 35%;
	
}
.about-col-1 img{
	width: 100%;
	border-radius: 10px;
	margin-left:-60px;
	margin-top:20px;
	height:550px;
	border-color: red;
}
.about-col-2{
	
	flex-basis: 65%;
	
}

.subtitle{
	font-size: 40px;
	font-weight: 600;
	color: white;
}
 #about ul li b {
 color: white;
 font-size: 12px;
 }
 #about strong{
 color: orange;
 font-size: 15px;
 }


/*Projects css*/
.title-project h2
{
	color: orange;
}

.title-project a{

	text-decoration: none;
    color: white;
    font-size: 15px;    
}

.contact-left{
	
	flex-basis: 35%;
	margin-top: 17%;
}
.contact-right {
	flex-basis: 60%;
}
.contact-left p{
	margin-top: 20px;
}
.contact-right from {
	width: 100%;
}
form input, form textarea{
	
	width: 100%;
	border: 0;
	outline: none;
	background: rgb(255, 255, 255);
	padding: 15px;
	margin: 15px 0;
	color:black;
	margin-left: -20px;
	font-size: 16px;
	border-radius: 6px;
	
}

#btn{
	
	background-color: orange;	
}


















